/*nav header bar*/
nav.graphics-nav{
  z-index:9999 !important;
  } 

nav:after{
      content:"";
      position:absolute; 
      z-index:-1;
      box-shadow:0 0 7px rgba(0,0,0,0);
      top:44px;
      border-radius:100%;
      height:10px;
      width:98%;
      left:1%;
  }
.navbar-default .navbar-brand{
   color: #404041;
   font-size: 15px;
}
.navbar-default .navbar-nav > li > a{
  color: #404041;
   font-size: 15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #404041;
    background-color: #e7e7e7;
}
nav.stick {
      position: fixed;
      left:0px;
      top: 0px;
      z-index: 99999;
      width:100%;
      border-bottom: 1px solid #f2dc1a;
      background-color: white !important;
}
.navbar-collapse.lower{
  background-color: white !important;
}

button.navbar-toggle{
    border:0;
    background:initial !important;
    position:relative;
    z-index: 9999;
}

a.navbar-brand{
  padding:15px 0 0 15px;
  margin:0 auto 0 auto !important;
  position:absolute;
  float:none;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}


.navbar-header{
    background-color: #f2dc1a;
    position:relative;
}


.yellowBar{
  position:absolute;
  width:100%;
  height:45px;
  background-color:#f2dc1a;
  top:10px; 
}

@media (min-width: 600px){
  ul.navbar-nav{   
    > li{
      margin-top:15px;
    } 
  }

  .navbar-header{
    width:105%;
    height:53px;
    position:absolute;
    left:0px;         
  }
}
@media (max-width:601px){
  nav.stick {
    /*margin-top: -20px;  */
    margin-bottom: -20px;
    border-radius: 0px !important;
  }
} 
@media (max-width: 599px){
  nav.stick {
    /*margin-top: -70px!important;*/
  }
}

@media (max-width: 480px){
    nav.stick {
      margin-top: 0px;
      top:0px;
      z-index:100000;
      background-color: none !important;
      background: none !important;
      border-bottom: none;
      border-top: none;
      width:~"calc(100% - 55px)";
      /*left:55px;*/
      overflow-x: visible;
    }

    a.navbar-brand{
      text-align: left;
    }

    .navbar-collapse.lower{
    width:~"calc(100% + 85px)";
    /*left:-55px;*/
    position: relative;
  }
}






ul.inline-share{
  
    list-style:none;
    border-left:1px solid gray;
    padding-left: 15px;
    padding-top:5px;
    margin-left: -5px;
    position:relative !important;
    right:auto;
    top:5px;
    display:inline-block;
    vertical-align: center;

}


/*section layout*/

.note{
  font-size: .85em!important;
  color:#C7C7C7;
  font-style:italic;
}
  
a{
  color:#1F8FCE;
  font-weight: 600;
}
a:hover{
  color:#f2dc1a;
  text-decoration:none;
}

/*headline*/
h1{
  font-size:2.4em;
  font-weight: 700;
  font-family: 'Source Sans Pro';
}
.h1feature{
  font-size:2.4em;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  font-size:2.4em!important; 
}

h2{
  font-weight: 300;
  font-size:1.2em;
  line-height: 1.2em;
  font-family: 'Source Sans Pro';
}
.h2feature{
  font-weight: 300;
  font-size:1.2em;
  line-height: 1.2em;
  font-family: 'Source Sans Pro';
  font-weight: 600!important; 
}

h3{
    font-size:1.2em !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
    font-family: 'Source Sans Pro';
  }
.special{
  font-weight: 300;
  text-transform: none;
  font-size:1em !important;
  color:white;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background: #999999;
}
.environment{
  font-weight: 300;
  text-transform: none;
  font-size:1em !important;
  color:white;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background: #999999;
}
.covid{
  font-weight: 300;
  text-transform: none;
  font-size:1em !important;
  color:white;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background: #999999;
}
.clear{
  margin-bottom: 0px;
}
p{
  font-size:1.2em !important;
  font-family: 'Source Sans Pro';
}
p.subtitle{
    font-weight: 600;
}
.tool{
  margin-top: 5px;
  text-decoration: underline;
}


/*click to see more*/
.hiddenDetail {
    /*padding: 50px;*/
    display: none;
}

.infoText{
  text-transform: uppercase;
  cursor: pointer;
  color:#1F8FCE;
  font-weight: 600;
  text-align: right;
  /*float:right;*/
}

/*img*/
.alabel{
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;

}
img{
  width:100%;
  margin:0;
  display: block;
  padding-left: 0!important;
}

.img-responsive{
  padding-right: 0px!important;
  margin-right: 0px!important;
}

.pixcenter{
  margin-bottom: 10px;
}

/*button and dropdown menu*/
.infolead{
    max-width: 540px;
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

.bttn{
    text-transform: uppercase;
    cursor: pointer;
    display:inline-block;
    font-size: 15px;
    font-weight:600;
    background: #f2dc1a;
    background-image: -webkit-linear-gradient(top, #f2dc1a, #f2dc1a);
    background-image: -moz-linear-gradient(top, #f2dc1a, #f2dc1a);
    background-image: -ms-linear-gradient(top, #f2dc1a, #f2dc1a);
    background-image: -o-linear-gradient(top, #f2dc1a, #f2dc1a);
    background-image: linear-gradient(to bottom, #f2dc1a, #f2dc1a);
    color: #404041;
    padding: 11px 14px 11px 14px;
    text-decoration: none;
}
.bttnrow{
  text-align: center;
}

.active {
    color: #f2dc1a;
    background: #f2dc1a;
    background-image: -webkit-linear-gradient(top, #404041, #404041);
    background-image: -moz-linear-gradient(top, #404041, #404041);
    background-image: -ms-linear-gradient(top, #404041, #404041);
    background-image: -o-linear-gradient(top, #404041, #404041);
    background-image: linear-gradient(to bottom, #404041, #404041);
}


.pcvisible{
    display: block;
}

.phonevisible{
    display: none;
}

@media all and (max-width: 650px) {
    .pcvisible{
        display: none;
    }
    .phonevisible{
        display: block;
    }
    
}
.specialPc{
  display: block;
}
.specialPad{
  display: none!important;
}

.specialPhone1{
  display: none!important;
}

.specialPhone2{
  display: none!important;
}



@media all and (min-width: 700px) and (max-width: 768px) {
    .specialPc{
      display: none!important;
    }

    .specialPad{
      display: block!important;
    } 

    .specialPhone1{
      display: none!important;
    }
    .specialPhone2{
      display: none!important;
    }  
}
@media all and (min-width: 580px) and (max-width: 699px) {
    .specialPc{
      display: none!important;
    }

    .specialPad{
      display: none!important;
    } 

    .specialPhone1{
      display: block!important;
    } 
    .specialPhone2{
      display: none!important;
    }  
}
@media all and (min-width: 300px) and (max-width: 579px) {
    .specialPc{
      display: none!important;
    }

    .specialPad{
      display: none!important;
    } 

    .specialPhone1{
      display: none!important;
    } 
    .specialPhone2{
      display: block!important;
    }  
}



/*sourceline*/
hr.footer{
   
   padding: 0;
   margin: 8px auto;
   height: 0;
   max-height: 0;
   display: block;
   position: relative;
   width: 100%;
   
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top:1px dotted #6D6E71;
   border-bottom: 1px dotted #BCBEC0;
}

.copyright{
  text-align: center;
  color: #c7c7c7
}


